version = 4
final_space = true

[upgrade]
  source = 'cdn'
  interval = '24h'
  auto = false
  notice = true

# LEFT: Path + Git
[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    template = '{{ .Path }}'
    foreground = '#56B6C2'
    type = 'path'
    style = 'plain'

    [blocks.segments.options]
      style = 'folder'

  [[blocks.segments]]
    template = ' {{ .HEAD }}{{ if .BranchStatus }} {{ .BranchStatus }}{{ end }}<#98C379>{{ if .Staging.Changed }} {{ .Staging.String }}{{ end }}</><#E5C07B>{{ if .Working.Changed }} {{ .Working.String }}{{ end }}</>'
    foreground = '#E5C07B'
    type = 'git'
    style = 'plain'

    [blocks.segments.options]
      branch_icon = "\ue725 "
      branch_identical_icon = ''

      fetch_status = true

# RIGHT: Time, status, execution time
[[blocks]]
  type = 'prompt'
  alignment = 'right'
  overflow = 'hidden' # Hides right side if window is too small

  [[blocks.segments]]
    type = 'executiontime'
    style = 'plain'
    foreground = '#E5C07B'
    template = '{{ .FormattedMs }} '
    
  [[blocks.segments]]
    type = 'status'
    style = 'plain'
    foreground = '#BF616A'
    template = '✗ {{ if gt .Code 0 }}{{ .Code }} {{ end }}'

  [[blocks.segments]]
    type = 'time'
    style = 'plain'
    foreground = '#ABB2BF'
    template = '{{ .CurrentDate | date .Format }}'

# BELOW: INPUT
[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true  # CRITICAL: This forces a new line

  [[blocks.segments]]
    template = '➜'
    foreground = '#98C379'
    type = 'text'
    style = 'plain'
