# Directories I don't want to be tracked
fish/
iterm2/
raycast/

# Mac-OS files
.DS_Store

# Ignore lazy-lock (shows the plugin's branch and commit)
nvim/lazy-lock.json

# Ignore karabiner/automatic_backups directory
karabiner/automatic_backups
!karabiner/

# Ignore oh-my-zsh directory
oh-my-zsh/

# Ignore thefuck directory
thefuck/

# Ignore qBittorrent
qBittorrent/

# Ignore github copilot
github-copilot/

# ignore github cli
gh/
